<div class="wrapper">
  <header class="page-header container">
    <nav class="page-nav">
      <a class="page-logo" href="/">Portfolio site</a>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a class="site-nav__link" href="/about">About</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#">Works</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#">Blog</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#">Contact</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#">Log in</a>
        </li>
      </ul>
    </nav>
  </header>
</div>