<div class="wrapper">
  <header class="page-header container">
    <nav class="page-nav">
      <a class="page-logo" href="/">Portfolio site</a>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a class="site-nav__link" href="/about">About</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/projects">Projects</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/add">Add project</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/news">News</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/contact">Contact</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="/auth/login">Log in</a>
        </li>
      </ul>
    </nav>
  </header>
</div>