<h1>Home page</h1>
<p>Hello, my dear guest!</p>
<p>I have created this web-site, for demonstrate my, the first of all backend
  knowledge, and my makeup/ frontend knowledge. If can register here, login and publish your works</p>
