@mixin myfont-style($family, $size, $height, $weight, $font-col, $upper: none) {
  font-family: $family;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $font-col;
  text-transform: $upper;
}
