$font-montserrat: "Montserrat", sans-serif;
$font-kaushan: "Kaushan Script", cursive;
$font-roboto: "Roboto", sans-serif;
$color-beige: #fce38a;
$color-purpur: #f38181;
$color-aquamarine: rgb(149, 225, 211);
$border-grey: solid 1px rgb(231, 231, 231);